{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="main">
        <div class="div2-main">
            <div><h1>Calculator</h1></div>
            <form class="div-form" method="get">
                <label for="">Enter First Number</label>
                <input type="text" placeholder="Enter Number" name="first_number"> <br>
                <label for="">Oprators</label>
                <div id="form-oprator-div"><button id="oprator-btn" name="add">+</button><button id="oprator-btn" name="subtract">-</button><button id="oprator-btn" name="multiply">*</button><button id="oprator-btn" name="divide">/</button></div>
                <label for="">Enter Second Number</label>
                <input type="text" placeholder="Enter Number" name="Second_number"> <br>
                <button id="div-form-button" type="submit">Submit</button>
            </form>
            <div><input class="input-ans" placeholder="Your Answer" value="{{ans}}"></div>
        </div>
    </div>
</body>
</html>