{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="main">
        <div class="div2-main">
            <div><h1>Calculator</h1></div>
            <form class="div-form" method="get">
                <label for="" style="padding-bottom: 10px;">Enter First Number</label>
                <input type="text" placeholder="Enter Number" name="first_number"> <br>
                <label for="" style="padding-bottom: 10px;">Enter Second Number</label>
                <input type="text" placeholder="Enter Number" name="Second_number"> <br>
                <label for="">Oprators</label>
                <div id="form-oprator-div">
                    <button id="oprator-btn" name="add" value="+" id="add">+</button>
                    <button id="oprator-btn" name="subtract" value="-" id="subtract">-</button>
                    <button id="oprator-btn" name="multiply" value="*" id="multiply">*</button>
                    <button id="oprator-btn" name="divide" value="/" id="divide">/</button>
                </div>
                {% comment %} <input type="submit" value="submit"> {% endcomment %}
            </form>
            <div><input class="input-ans" placeholder="Your Answer" value="{{ans}}"></div>
        </div>
    </div>
</body>
</html>